<h1>Users</h1>

<table class="table table-hover">
<tr>
  <td>name</td>
  <td>joined</td>
</tr>

<% @users.each do |user| %>
<tr>
  <td><%= link_to user.username %></td>
  <td><%= user.created_at.to_date %></td>
</tr>
<% end %>
</table>

<%= paginate @users %>
