<h2><%= @user.username %></h2>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered">
      <tr>
        <td colspan="2">
          <%-# if @user.avatar -%>
          <%#= image_tag @user.avatar.url -%>
          <%-# else -%>
          <%= image_tag  "no_avatar.jpeg", class: "img responsive img-rounded" %>
          <%-# end -%>
        </td>
      </tr>
      <tr>
        <td>Member since:</td>
        <td><%= @user.created_at.to_formatted_s(:month_and_year) %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
  </div>
</div>
