<table class="table table-hover">
<tr>
  <td>name</td>
  <td>description</td>
  <td>started</td>
</tr>

  <p class="text-left">
    <%= link_to "Create Room", new_room_path, class: "btn btn-default" %>
</p>

<% @rooms.each do |room| %>
<tr>
  <td><%= link_to room.name, room %></td>
  <td><%= room.description %></td>
    <td><%= room.created_at.to_date %></td>
</tr>
<% end %>

</table>
